.buttonAdd {
  display: block;
  box-sizing: border-box;
  width: 288px;
  height: 40px;
  margin: 20px auto 0;

  font-weight: 500;

  color: #ffffff;
  background: #1397ca;
  border: 1px solid #c5c5c5;
  border-radius: 6px;

  order: 1;
  align-self: stretch;

  &:focus,
  &:hover {
    cursor: pointer;
    background: #29abdd;
  }
}
.buttonDel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;

  background: transparent;
  border: none;
  order: 1;
  align-self: stretch;

  &:hover {
    cursor: pointer;
  }
}

.buttonDelSvg {
  color: #000000;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}
